* {
    font-family: 'Almarai', sans-serif !important;
    direction: rtl !important;
    padding: 0;
    margin: 0;
}

.home {}

//TODO: Done 
.uppbanner {
    background-color: rgba(78, 9, 93, 1);
    height: 50px !important;
    display: flex;
    align-items: center;

    .wrapper {

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        letter-spacing: 0.25px !important;

        .right {
            font-weight: 400 !important;
            direction: ltr !important;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            color: white;
            gap: 15px;

            .phone,
            .email {
                direction: ltr !important;
                display: flex;
                align-items: center;
                gap: 5px;
            }
        }

        .left {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            color: white;
            gap: 15px;
        }
    }
}

//TODO: Done 

.navbar {
    background-color: rgba(245, 245, 245, 1);
    height: 140px;

    .wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .logo {
            width: 80px;
            // height: 60px;
        }

        .links {

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 20px;
            font-size: 16px;
            font-weight: 700;

            p {
                cursor: pointer;
            }

            span {
                cursor: pointer;
                transition: 0.3s;

                &.active {
                    color: rgba(255, 128, 0, 1);
                }

                color: rgba(77, 75, 75, 1);

                &:hover {
                    color: rgba(255, 128, 0, 1);
                }
            }

        }

        .search {
            position: relative;

            .search-icon {
                position: absolute;
                top: 50%;
                left: 19px;
                transform: translateY(-50%);
                color: rgba(114, 114, 114, 1);
            }

            .search-input {
                border: none;
                outline: none;
                border-bottom: 1px solid rgba(77, 75, 75, 1);
                padding: 10px 0;
                width: 200px;
                transition: 0.3s;
                font-size: 12px;
                border-radius: 40px;
                background-color: rgb(245, 245, 245);
                border: 1px solid rgba(114, 114, 114, 1);
                width: 435px;
                height: 40px;
                padding: 18px;

                &::placeholder {
                    color: rgba(114, 114, 114, 1);
                }
            }
        }

        .icons {
            position: relative;
            height: 20px !important;
            display: flex !important;
            flex-direction: row !important;
            align-items: center !important;
            justify-content: center !important;
            gap: 20px;
            color: rgba(69, 69, 69, 1);

            .cart {
                position: relative;

                .count {
                    position: absolute;
                    min-width: 15px;
                    min-height: 15px;
                    background-color: rgba(255, 128, 0, 1);
                    border-radius: 50%;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    top: -5px;
                    right: -7px;
                    font-size: 10px;
                    // padding: 2px;
                }
            }
        }
    }
}

//TODO: Done 

.landing {
    position: relative;

    .carousel-inner {
        overflow: visible !important;
    }



    .carousel {
        position: absolute;
        top: -50px;
        bottom: 0;
        z-index: 3;
        max-width: 1440px;
        max-height: 461px;





        .carousel-control-prev-icon,
        .carousel-control-next-icon {
            background-color: black !important;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            background-size: 100%;
        }

        .carousel-control-prev {
            z-index: 70;
            color: transparent;
            right: 20px;
            top: 320px;
        }

        .carousel-control-next {
            z-index: 70;
            right: -10px;
            top: 320px;
            color: transparent;
        }

        .carousel-caption {
            scale: 0.9;
            text-align: right;
            position: absolute;
            top: 15%;
            right: 10px;
            z-index: 50;
            width: 686px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            overflow-y: visible !important;

        }
    }

    .shop {
        position: absolute;
        top: -80px;
        left: -608px;
        z-index: 500;
        scale: 0.8;
        overflow-y: visible !important;




        img {
            z-index: 50;
            overflow-y: visible !important;

        }
    }

    .text {
        color: black;
        overflow-y: visible !important;

    }
}

//TODO: Done 

.offers {
    position: relative;
    padding-top: 390px;
    margin-bottom: 100px !important;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 30px;

    .offer {
        width: 705px !important;
        height: 290px 1;
        background-color: rgba(255, 250, 245, 1);
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: start;
        gap: 15px;

        img {
            width: 45%;
        }

        .text {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
        }

    }
}

//TODO: Done 

.arrow {
    width: 32px;
    height: 32px;
    background-color: rgba(235, 235, 235, 1);
    color: rgba(114, 114, 114, 1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

//TODO: Done 
.sponsors {
    // direction: ltr !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 60px;
    // width: 1000px;

    .marquee-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;


        .wrapper {
            direction: ltr !important;
            width: 1140px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;


            .sponsor {
                cursor: pointer;
                direction: ltr !important;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 6px;
                margin: 0 50px;

                img {
                    width: 65px;
                    height: 65px;
                }

                .sponsor-name {
                    font-size: 16px;
                    color: rgba(114, 114, 114, 1);
                }
            }
        }
    }
}








//TODO: Done 

.items-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 50px;

    .productsList {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 23px;

        div.item {


            p {
                padding: 0 !important;
            }

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 5px;

            div.item-image {
                cursor: pointer;
                background-color: rgba(245, 245, 245, 1);
                position:
                    relative;
                width: 270px !important;
                height: 270px;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    transition: all 0.5s ease;

                    &:hover {
                        scale: 1.05;
                    }
                }

                .dno {
                    position: absolute;
                    top: 5px;
                    right: 5px;
                    color: white;
                    padding: 5px;
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    justify-content: center;
                    gap: 5px;
                    font-weight: 700;


                    div.offer {
                        width: 60px;
                        height: 26px;
                        font-size: 12px;
                        background-color: rgba(255, 128, 0, 1);
                        color: white;
                        padding: 5px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    div.description {
                        width: 30px;
                        height: 26px;
                        font-size: 12px;
                        background-color: rgba(69, 69, 69, 1);
                        color: white;
                        padding: 5px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                img {
                    scale: 0.85;
                    width: 215px;
                    height: 215px;
                    background-color: rgba(245, 245, 245, 1);
                }
            }


            div.item-details {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                p.cat {
                    color: rgba(255, 128, 0, 1);
                    font-size: 14px;
                }

                p.title {
                    font-size: 20px;
                    color: rgba(46, 46, 46, 1);
                    font-weight: 700;
                }

                div.price {
                    display: flex;
                    flex-direction: row-reverse;
                    align-items: center;
                    gap: 10px;

                    p.OldPrice {
                        text-decoration: line-through;
                        color: rgba(114, 114, 114, 1);
                        font-size: 16px;
                    }

                    p.price {
                        font-weight: 700;
                        font-size: 20px;
                        color: rgba(13, 122, 92, 1)
                    }
                }
            }

        }
    }
}

//TODO: Done 

.NewArrival {
    margin-top: 100px;
    margin-bottom: 173px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    .ItemsTitle {
        font-size: 40px;
        font-weight: bold;
    }
}

//TODO: Done 

.TodaysOffer {
    scale: .995;


    img {
        width: 215px;
        height: 215px;
        background-color: rgba(245, 245, 245, 1);
    }

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;

    ul.Choice {
        scale: .95;
        list-style-type: none;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;

        li {
            position: relative !important;
            text-decoration: none;
            cursor: pointer;

            .blackifseclected {
                background-color: #00000049;
                transition: filter 0.3s ease;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 800;
            }
        }
    }

    .SelectedPhoto {
        .img {
            position: relative;
        }

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 30px;
        width: 100% !important;
        height: 648.6px;
        background-color: rgba(245, 245, 245, 1);

        padding: 20px;

        .img {
            width: 500px !important;
            height: 500px !important;
            scale: .9;

            img {
                width: 500px;
                height: 500px;
            }
        }

        div.text {
            scale: .9;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;

            span.rating {
                margin-bottom: 15px;
                display: flex;
                flex-direction: row;

                .MuiRating-root {
                    direction: ltr !important;
                }

                p {
                    color: rgba(114, 114, 114, 1);
                    text-decoration: underline;
                }
            }

            p.Offer {
                font-weight: 700;
                font-size: 20px;
                color: rgba(255, 128, 0, 1);
            }

            p.OfferName {
                font-weight: 700;
                font-size: 34px;
                color: rgba(46, 46, 46, 1);
            }

            p.offerDesc {
                font-size: 16px;
                color: rgba(114, 114, 114, 1);
                margin-bottom: 15px !important;
            }

            div.offerPrice {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: 15px !important;

                div.price {
                    color: rgba(13, 122, 92, 1);
                    font-weight: 700;
                    font-size: 34px;
                }

                div.OldPrice {
                    color: rgba(128, 128, 128, 1);
                    // font-weight: 700;
                    font-size: 20px;
                    text-decoration: line-through;
                }
            }

            .Timer {
                margin-bottom: 15px !important;
                width: 100%;
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                justify-content: start;
                gap: 10px;

                .unit {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 80px;
                    height: 80px;
                    background-color: #fff;
                    display: flex;
                    border: 1px solid rgba(214, 214, 214, 1);

                    .number {
                        font-weight: 700;
                        font-size: 34px;
                        color: rgba(46, 46, 46, 1);
                    }

                    .text {
                        font-size: 14px;
                        color: rgba(114, 114, 114, 1);

                    }
                }
            }

            div.btns {
                gap: 15px;
                margin-top: 20px !important;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

//TODO: Done 

.img .dno {
    position: absolute;
    top: 5px;
    right: 5px;
    color: white;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 5px;


    div.offer {
        width: 78px;
        height: 30px;
        font-size: 16px;
        background-color: rgba(255, 128, 0, 1);
        color: white;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    div.description {
        width: 40px;
        height: 26px;
        font-size: 16px;
        background-color: rgba(69, 69, 69, 1);
        color: white;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

div.electronics-grid {
    scale: .989;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 22px;
    margin-top: 100px;

    div.right {
        width: 75%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;

        div.one {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 15px;

            .electronic.second {
                width: 585px;
                height: 250px;
                justify-content: space-between !important;

                .img {

                    img {
                        scale: .8;
                    }
                }
            }

            .electronic.first {
                width: 250px;
                height: 250px;
                flex-direction: column !important;

                .img {
                    align-self: flex-end;

                    img {
                        scale: .8;
                    }
                }
            }
        }

        div.two {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 15px;

            .electronic.fourth {
                width: 250px;
                height: 250px;
                flex-direction: column !important;

                .text {
                    padding-bottom: 150px !important;
                }

                .img {
                    display: flex;
                    flex-direction: row;
                    align-items: start;
                    justify-content: start;
                    align-self: flex-end;
                    position: absolute;
                    top: 70px;

                    img {
                        z-index: 10;
                        justify-self: flex-start;
                        scale: .8 !important;
                    }
                }
            }

            .electronic.fifth {
                width: 585px;
                height: 250px;
                justify-content: space-between !important;

            }
        }
    }

    .electronic.three {
        height: 514px;
        width: 25%;
        display: flex;
        flex-direction: column !important;
        align-items: center;
        justify-content: space-between !important;
        gap: 30px;

        .img {
            margin-bottom: 50px !important;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;
        }

        img {
            justify-self: center !important;
            scale: 0.6 !important;
        }
    }
}

div.Item {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 115px;
    width: 335px;
    // cursor: pointer;

    div.item-img {
        width: 115px;
        height: 115px;
        background-color: rgba(245, 245, 245, 1);
        display: flex;
        align-items: center;
        justify-content: center;


        img {
            scale: 0.9;
            background-color: rgba(245, 245, 245, 1);
        }
    }

    div.text {
        padding-right: 10px;

        p.store-name {
            font-size: 12px;
            color: rgba(255, 128, 0, 1);
        }

        h3.product-name {
            font-size: 18px;
            color: rgba(46, 46, 46, 1);
            font-weight: 700;
        }

        div.prices {
            display: flex;
            flex-direction: row;
            align-items: center;
            // justify-content: space-around;
            gap: 7px;

            span.new-price {
                color: rgba(13, 122, 92, 1);
                font-weight: 700;
                font-size: 16px;
            }

            span.old-price {
                color: rgba(114, 114, 114, 1);
                font-size: 14px;
                text-decoration: line-through;
            }
        }
    }
}

div.category-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between !important;
    margin-bottom: 20px;
    width: 335px;
    padding: 10px;
    border-bottom: 1px solid rgba(214, 214, 214, 1);

    p.header-name {
        color: rgba(46, 46, 46, 1);
        font-size: 25px;
        font-weight: 700;
    }

    div.buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        gap: 5px;

        button.button-left {
            background-color: #fff;
            border: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
            color: rgba(255, 128, 0, 1);
            border: 1px solid rgba(214, 214, 214, 1);
        }

        button.button-right {
            background-color: #fff;
            border: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
            color: rgba(114, 114, 114, 1);
            border: 1px solid rgba(214, 214, 214, 1);
        }
    }
}

.CategoryWrapper {
    margin-top: 100px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 50px;

    .category-wrapper {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
        width: 335px;
        gap: 20px;

        .category-items {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }
}


div.WeekendOffer {
    margin-top: 250px;
    margin-bottom: 100px;
    height: 365px;
    background-color: #fbf1fe;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;

    div.text {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 10px;

        p.header-name {
            font-size: 32px;
            color: rgba(255, 128, 0, 1);
            font-weight: 700;

        }

        div.title {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: start;
            gap: 10px;

            .title-name {
                font-size: 35px;
                color: rgba(46, 46, 46, 1);
                font-weight: 700;
            }

            .sub-title {
                font-size: 35px;
                color: rgba(46, 46, 46, 1);
            }
        }

        div.prices {
            span.new-price {
                font-size: 40px;
                font-weight: 700;
                color: rgba(13, 122, 92, 1);
            }

            span.old-price {
                font-size: 26px;
                color: rgba(114, 114, 114, 1);
                text-decoration: line-through;
            }
        }

        .last {
            color: rgba(69, 69, 69, 1);
            font-size: 16px;
            text-decoration: underline;
        }
    }

    div.img {
        align-self: self-end;

        img {
            scale: .9;
        }
    }
}

.OurPartners {
    direction: ltr !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 100px;

    img {
        scale: .7;
    }
}

.Newsletter {
    margin-bottom: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    div.NewsText {
        scale: .95;
        width: 385px;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 15px;

        p.header-name {
            font-size: 40px;
            color: rgba(46, 46, 46, 1);
            font-weight: 700;
        }

        p.desc {
            font-size: 16px;
            color: rgba(114, 114, 114, 1);
        }

        form.input {
            position: relative;

            input.email-input {
                outline: none;
                border: none;
                width: 420px;
                height: 35px;
                padding-right: 30px;
                font-size: 14px;
                color: rgba(114, 114, 114, 1);
                background-color: rgba(245, 245, 245, 1);
                font-weight: 400;
                margin-bottom: 15px;
            }
        }
    }

    div.NewsPicturs {
        scale: .9;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;

        div.Top {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: center;
            gap: 10px;

            img {
                width: 250px !important;
                height: 200px !important;
            }
        }

        div.Bottom {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: center;
            gap: 10px;

            img {
                width: 250px !important;
                height: 200px !important;
            }
        }
    }
}

.Features {
    background-color: rgb(254, 250, 255);

    .wrapper {
        padding: 50px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    div.Feature {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 12px;

        div.img {
            scale: .8;

            img {}
        }

        div.text {
            font-size: 14px;

            p.title {
                font-weight: 700;
            }

            p.desc {
                color: rgba(114, 114, 114, 1);
            }
        }
    }
}

.Footer {
    background-color: rgba(78, 9, 93, 1);
    background-image: url('./assets/texture.png');
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .FooterUp {
        padding-top: 100px;
        padding-bottom: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        div.left {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            gap: 30px;

            p.title {
                font-size: 20px;
                color: rgba(255, 255, 255, 1);
                font-weight: 700;
            }

            div.links {
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: center;
                gap: 18px;

                p {
                    font-size: 16px;
                    color: rgba(225, 222, 222, 1);
                    font-weight: 400;
                }
            }
        }

        div.right {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            gap: 30px;

            div.text {
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: center;
                gap: 20px;

                p.title {
                    font-size: 20px;
                    color: rgba(255, 255, 255, 1);
                    font-weight: 700;
                }

                p.desc {
                    font-size: 16px;
                    color: rgba(207, 207, 207, 1);
                    font-weight: 400;
                }
            }

            div.icons {
                color: rgba(255, 255, 255, 1);
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: center;
                gap: 10px;

                div.location {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;


                    p.location-name {

                        font-size: 16px;
                    }

                }

                div.phone {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;


                    div.numbers {
                        display: flex;
                        flex-direction: column;
                        align-items: start;
                        justify-content: center;
                        gap: 5px;

                        p {
                            direction: ltr !important;
                        }
                    }

                }
            }
        }

        div.center {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;

            div.box {
                width: 668px;
                height: 250px;
                border: 1px solid rgba(137, 137, 137, 1);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 20px;

                div.logo {

                    img {}
                }

                div.social {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: 20px;

                    div.text {
                        color: rgba(255, 255, 255, 1);
                    }

                    div.icons {
                        cursor: pointer;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        color: rgba(255, 255, 255, 1);
                        gap: 20px !important;
                    }
                }

                div.links {
                    border-top: 1px solid rgb(137, 137, 137);
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: 30px;
                    padding-top: 10px;
                    padding-right: 10px;
                    padding-left: 10px;

                    p {
                        cursor: pointer;
                        color: rgba(207, 207, 207, 1);
                    }
                }
            }
        }
    }

    div.FooterDown {
        border-top: 1px solid rgba(114, 114, 114, 1);
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 15px;
        padding-right: 15px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;

        div.copyright {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 10px;
            font-size: 14px;
            color: rgba(207, 207, 207, 1);
        }

        div.pay {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 20px;

            img {}
        }
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}