* {
  font-family: 'Almarai', sans-serif !important;
  direction: rtl !important;
  padding: 0;
  margin: 0;
}

p {
  margin-bottom: 0 !important;
}

ol,
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Firefox */
body::-webkit-scrollbar {
  width: .5em;
}

body::-webkit-scrollbar-track {
  background-color: rgba(255, 242, 229, 1);
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(255, 204, 153, 1);
  border-radius: 12px;
}